@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-my-white: rgb(254, 249, 225);
  --color-my-whitesmoke: rgb(229, 208, 172);
  --color-my-cyan: #3CA081;
  --color-my-red: #B1302B;
  --color-my-black: #383228;
  --font-inter: "Inter", sans-serif;
  --font-aleo: "Aleo", serif;
}

@layer base {
  h1, h2, h3, h4 {
    font-family: var(--font-aleo);
  }
  p {
    font-family: var(--font-inter);
  }
}

.color-switcher {
  color: #e5d0ac;
}