@import "tailwindcss";

@theme {
  --color-my-white: rgb(234, 235, 208);
  --color-my-maroon-150: rgb(175, 62, 62);
  --color-my-maroon-100: rgb(205, 86, 86);
  --color-my-maroon-50: rgb(218, 108, 108);
}

.color-switcher {
  color:  rgb(218, 108, 108);
}