@import "tailwindcss";

@theme {
  --color-my-white: rgb(254, 249, 225);
  --color-my-whitesmoke: rgb(229, 208, 172);
  --color-my-maroon-blood: rgb(163, 29, 29);
  --color-my-maroon: rgb(109, 35, 35);
}

.color-switcher {
  color:  rgb(109, 35, 35);
}